body {
  background-color: #77a0cd;
  min-height: 70vh;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.container {
  width: 90%;
  max-width: 600px;
  min-width: 400px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 4px 4px 10px #ccc;
  padding: 1rem;
  box-sizing: border-box;
  text-align: left;
}

.heading h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.form input {
    word-wrap: break-word;
  box-sizing: border-box;
  background-color: #f4f4f4;
  padding: 0.7rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  color: #333;
  width: 80%;
  margin-right: 10px;
}

.form input:focus {
  border: 2px solid #00bcd4;
  outline: none;
}

button {
  border: none;
  background: #00bcd4;
  color: #fff;
  font-size: 1rem;
  padding: 0.7rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
}
li {
  list-style: none;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ccc;
  display: inline-block;
}

.delete {
  padding: 0;
  border: none;
  background: #da0b0b;
  color: #fff;
  font-size: 10px;
  padding: 0.3rem 1rem;
  float: right;
  margin-left: auto;
}

.delete:hover {
  background: #b63232;
}
.done {
  padding: 0;
  border: none;
  background: #17e50c;
  color: #fff;
  font-size: 10px;
  padding: 0.3rem 1rem;
  float: right;
  margin-right: 4px;
}

.done:hover {
  background: #118e08;
}

.done-text {
  text-decoration: line-through;
}

button:hover {
  background: #008ba3;
}
